{% load markup %}

{{ story.body|markdown }}
<hr/>

{% comment %}
<h4>Feedback</h4>
<p>
	<button class="btn btn-inverse btn-flat"><i class="fa fa-comments-alt fa-lift"></i> Comment</button>
	<button class="btn btn-inverse btn-flat"><i class="fa fa-thumbs-up fa-lift"></i> Good Read</button>
	<button class="btn btn-inverse btn-flat"><i class="fa fa-share"></i> Share</button>
</p>
{% endcomment %}

<br/>

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'storieshouse'; // required: replace example with your forum shortname
	var disqus_identifier = '{{ story.id }}';
	var disqus_title = '{{ story.title }}';
	var disqus_url = 'http://storieshouse.com{{ story.get_absolute_url }}';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
