body {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  color: white;
  background-color: #af0014;
  position: relative;
  min-width: 940px;
  height: 85px;
}
header a#logo {
  color: white;
}
header a#logo:hover {
  color: white;
}
header a#logo:hover i {
  text-decoration: none;
}
header h1 {
  display: inline;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}
header h1 span {
  font-weight: 500;
}
header i {
  font-size: 85px;
  line-height: 100%;
  padding-left: 7px;
  padding-right: 5px;
}
h5 {
  padding: 0;
  margin: 0;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 85px solid #af0014;
  border-right: 85px solid transparent;
}
.story {
  padding-top: 5px;
}
.story h3 {
  margin: 0;
  padding: 0;
  line-height: 100%;
  margin-bottom: 2px;
  font-weight: 400;
}
.story-meta p {
  margin: 0;
  padding: 0;
  color: #666666;
}
.story-meta .right {
  text-align: right;
}
div.navigation {
  background-color: white;
  height: 85px;
  position: relative;
}
.shnav {
  width: 375px;
  position: relative;
  left: -30px;
  margin-top: 50px;
}
.large-icon {
  font-size: 80px;
  line-height: 100%;
}
.xlarge-icon {
  font-size: 120px;
}
.shard {
  height: 94px;
}
.shard h4 {
  text-align: center;
  color: #666666;
  position: relative;
  top: -60px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.shard .shape {
  width: 95px;
  height: 80px;
  -webkit-transform: skewY(-45deg);
  -moz-transform: skewY(-45deg);
  -o-transform: skewY(-45deg);
  background: #ece6ec;
}
.shard:hover h4 {
  color: white;
}
.shard:hover .shape.green {
  background-color: green;
}
.shard:hover .shape.orange {
  background-color: orange;
}
a.shard_link:hover {
  text-decoration: none;
}
.spacer {
  line-height: 28px;
}
.right-align {
  text-align: right;
}
hr {
  padding: 0;
  margin: 0;
}
.container {
  background-color: white;
}
