{% extends 'base.djt' %}
{% load house_extras %}

{% block title_bar %}: {{ object|full_name }}{% endblock %}
{% block home_active %}{% endblock %}

{% block shard %}{% endblock %}

{% block shard_header %}
	<div class="row full_title user">
		<div class="span4 text">
			<h1>Author Page</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="span10">
	<div class="row">
		<div class="span6">
			<h2>{{ object|full_name }}</h2>
			<h4 style="font-weight: 300;">posted <strong>{{ stories.count }}</strong> stories</h4>
			<h4 style="font-weight: 300;">joined <strong>{{ object.date_joined|timesince }}</strong> months ago</h4>
			<!-- <h4 style="font-weight: 300;">stories read <strong>140</strong> times</h4> -->
		</div>
		<div class="span4">
			<h2>About Me</h2>
			<p>{% firstof profile.about "No information added." %}</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span8">
			<h5>Most Read Story</h5>
			<h1><a href="{% url story_view slug=top_story.slug user=object.username %}">{{ top_story.title }}</a></h1>
		</div>
		<div class="span2">
			<h5>Total Views</h5>
			<h1>{{ top_story.viewcount }}</h1>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span10">
			<h5>All Stories</h5>
			{% for story in stories %}
			<a href="{% url story_view slug=story.slug user=object.username %}"><div class="pull-left story-block">
				<i class="icon-{% firstof story.icon "align-left" %} large-icon"></i>	
				<p>{{ story.title }}</p>
			</div></a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}