{% extends "base.html" %}
{% load markup %}

{% block title %}: {{ object.name }} - {{ object.podcast.name }}{% endblock %}

{% block home_active %}{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1><span class="accent">{{ object.number }}</span> {{ object.name }}</h1>
			<h4 class="muted">published {{ object.data_published }} for <a href="{% url view_podcast object.podcast.slug %}">{{ object.podcast.name }}</a></h4>
			<a href="itpc://www.storieshouse.com{% url view_podcast_rss object.podcast.slug %}" class="btn btn-sm btn-primary"><i class="fa fa-music"></i> Subscribe on iTunes</a>
			<a href="{% url view_podcast_rss object.podcast.slug %}" class="btn btn-sm btn-warning"><i class="fa fa-rss"></i> Subscribe with RSS</a>
			<hr/>
			<div class="player">
				<div id="jquery_jplayer_1" class="jp-jplayer"></div>
				<div id="jp_container_1" class="jp-audio" style="margin: 0 auto;">
					<div class="jp-type-single">
						<div class="jp-gui jp-interface">
							<ul class="jp-controls">
								<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
								<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
								<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
								<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
								<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
								<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
							</ul>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
							<div class="jp-time-holder">
								<div class="jp-current-time"></div>
								<div class="jp-duration"></div>
								<ul class="jp-toggles">
									<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
									<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
								</ul>
							</div>
						</div>
						<div class="jp-no-solution">
							<span>Update Required</span>
							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<h6>Show Notes</h6>
			{% if object.show_notes %}
				<p>{{ object.show_notes|markdown }}</p>
			{% else %}
				<p>No notes this time.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="/static/js/jplayer/jquery.jplayer.min.js"></script>
<link type="text/css" href="/static/skins/jplayer.midnight.black.css" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function(){
		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					mp3: "{{ object.audio }}"
				});
			},
			swfPath: "/js",
			supplied: "mp3"
		});
	});
</script>
{% endblock %}