{% extends "base.html" %}

{% block title %}: {{ object.name }}{% endblock %}

{% block home_active %}{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="{{ object.image }}">
			<h1>{{ object.name }}</h1>
			<p class="muted" style="font-size: 12px;">{{ object.schedule }}</p>
			<p>{{ object.description }}</p>

			<div class="row">
				<div class="col-xs-6">
					<a href="itpc://{% url view_podcast_rss object.slug %}" class="btn btn-block btn-primary btn-sm"><i class="fa fa-music"></i> iTunes</a>
				</div>
				<div class="col-xs-6">
					<a href="{% url view_podcast_rss object.slug %}" class="btn btn-block btn-warning btn-sm"><i class="fa fa-rss"></i> RSS</a>
				</div>
			</div>

			<br/>
		</div>
		<div class="col-md-8">
			<h3>Episodes</h3>
			<div class="list-group">
			{% for e in object.episode_set.all %}
				<a href="{% url view_episode object.slug e.number %}" class="list-group-item">{{ e.number }} - {{ e.name }} <span class="muted">(published {{ e.data_published }})</span></a>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}