{% extends 'base.html' %}
{% load house_extras %}

{% block title_bar %}: {{ object.name }}{% endblock %}
{% block home_active %}{% endblock %}

{% block shard %}{% endblock %}


{% block content %}
<div class="span10">
	<h1>{{ object.name }}</h1>
	<div class="row">
		<div class="span10">
			<h3>{{ object.description }}</h3>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span8">
			<h5>Most Read Story</h5>
			<h1><a href="{% url story_view slug=top_story.0.slug user=top_story.0.user.username %}">{{ top_story.0.title }}</a></h1>
		</div>
		<div class="span2">
			<h5>Total Views</h5>
			<h1>{{ top_story.0.viewcount }}</h1>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span10">
			<h5>Latest Stories</h5>
			{% story_grid object.story_set.all %}
		</div>
	</div>
</div>
{% endblock %}