{% extends 'base.html' %}

{% block title_bar %}: Write{% endblock %}
{% block home_active %}{% endblock %}
{% block write_active %}class="active"{% endblock %}
{% block shard %}{% endblock %}

{% block content %}
<div class="span8">
<br/>
<form action="{{ request.path }}" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="form-actions">
		<input type="submit" value="Save" class="btn btn-primary"/>
	</div>
</form>
<p>Remember that your body can include <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> syntax.</p>
</div>
{% endblock %}
