{% extends 'house_admin/layout.html' %}

{% block title_bar %}: Delete {{ object.title }}{% endblock %}
{% block home_active %}{% endblock %}


{% block admin_title %}Confim Delete{% endblock %}

{% block admin_content %}
<div class="row">
<div class="col-md-6">
<form action="{{ request.path }}" method="POST">
	<h5 style="line-height: 120%;">No! We don't want to see your story go. Are you sure you want to send "{{ object.title }}" to Story Heaven?<br/>You will lose all view data associated with the story.</h5>
	{% csrf_token %}
	<div class="form-actions">
		<input type="submit" class="btn btn-danger btn-sm" value="Yes"/>
		<a href="{% url story_view object.user.username object.slug %}" class="btn btn-sm">No</a>
	</div>
</form>
</div>
</div>
{% endblock %}