{% extends "house_admin/layout.html" %}

{% block title %} :: Dashboard {% endblock %}
{% block dash_active %}active{% endblock %}

{% block admin_title %}Dashboard{% endblock %}

{% block admin_content %}
<div class="actions">
	<a href="{% url story_add %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Create Story</a>
	<a href="#" class="btn btn-default btn-sm"><i class="fa fa-gears"></i> Account Settings</a>
	<a href="#" class="btn btn-danger btn-sm" onclick="alert('Haha. Not going to happen.');"><i class="fa fa-envelope"></i> Complain to Hunter</a>
</div>
<br/>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Total Views
			</div>
			<div class="panel-body text-center stat">
				<span>{{ total_views }}</span>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Total Stories
			</div>
			<div class="panel-body text-center stat">
				<span>{{ total_stories }}</span>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				This Week's Views
			</div>
			<div class="panel-body text-center graph">
				<div id="graph-views-axis" class="y-axis"></div>
				<div id="graph-views"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Top Stories (by views this week)
			</div>
			<div class="panel-body stat">
				<ol>
					{% for x in top_stories %}
					<li><a href="{% url story_view x.user.username x.slug %}">{{ x.title }}</a> <span class="text-muted">({{ x.hits_this_week }} views)</span></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block admin_js %}


<script>
createGraph("#graph-views", 
	[ 
		{% for x in views %}
		{ x: -{{ forloop.counter0 }}, y: {{ x.count }} },
		{% endfor %}
	], [{x: -6, y:0},]);
</script> 
{% endblock %}