{% extends 'house_admin/layout.html' %}

{% block title_bar %}: Account{% endblock %}
{% block account_active %}active{% endblock %}

{% block admin_title %}
	{{ object.user.first_name }}'s <span class="muted">information</span>
{% endblock %}	

{% block admin_content %}
<br/>
<div class="row">
	<div class="col-md-6">
		<form action="{{ request.path }}" method="POST" role="form">
			{% csrf_token %}
			<div class="form-group">
				{{ form.about.errors }}
				<label for="id_about">About:</label>
				{{ form.about }}
			</div>
			<div class="form-group">
				{{ form.avatar.errors }}
				<label for="id_avatar">Avatar (Currently Unused):</label>
				{{ form.avatar }}
			</div>
			<input type="submit" value="Save" class="btn btn-primary btn-sm"/>
			<a href="/change_password/" class="btn btn-danger btn-sm">Change Password</a>
		</form>
	</div>
</div>
{% endblock %}