{% extends 'house_admin/layout.html' %}

{% block title_bar %}: Write{% endblock %}
{% block articles_active %}active{% endblock %}

{% block admin_title %}New Story{% endblock %}

{% block admin_content %}
<div class="span8">
<br/>
<form action="{{ request.path }}" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="form-actions">
		<input type="submit" value="Save" class="btn btn-primary"/>
	</div>
</form>
<p>Remember that your body can include <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> syntax.</p>
</div>
{% endblock %}
